---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allDocs = await getCollection('docs');
const sortedDocs = allDocs.sort((a, b) => {
	return (a.data.order || 99) - (b.data.order || 99);
});

const allPosts = await getCollection('blog', ({ data }) => {
	return data.draft !== true;
});
const sortedPosts = allPosts.sort((a, b) => {
	return b.data.date.valueOf() - a.data.date.valueOf();
});
---

<Layout>
	<h1>Kitledger</h1>
	
	<h2>Documentation</h2>
	<ul>
		{sortedDocs.map((doc) => (
			<li>
				<a href={`/docs/${doc.slug}`}>
					<strong>{doc.data.title}</strong>
					<span> - {doc.data.description}</span>
				</a>
			</li>
		))}
	</ul>

	<h2>Latest News</h2>
	<ul>
		{sortedPosts.map((post) => (
			<li>
				<a href={`/blog/${post.slug}`}>
					{post.data.title}
				</a>
				<time datetime={post.data.date.toISOString()}>
					{post.data.date.toLocaleDateString()}
				</time>
			</li>
		))}
	</ul>
</Layout>